<p class="project-header">
  projects works!
</p>
<button class="get-projects" (click)="getProjects()">Get projects!</button>
<div *ngIf="projects && projects.length > 0">
  <div *ngFor="let project of projects">
  	<project [project]="project" (projectSelected)="projectSelected($event)"></project>
  </div>
	<p>Total Projects: {{ projects && projects.length }}</p>
</div>
<div class="log-text" loggable logText="Some text">Hello</div>
<span></span>
<span></span>
<div class="no-projects" *ngIf="projects && projects.length == 0">No projects to display!</div>
