<h2>Sign up</h2>
<form (ngSubmit)="register()">
	<label>Username</label><input type="text" class="form-control" required [(ngModel)]="model.username" name="username" #username="ngModel" />
	<div [hidden]="username.valid || username.pristine" class="alert alert-danger">
      Username is required
    </div>
    <br/>
	<label>Password</label><input type="password" class="form-control" required [(ngModel)]="model.password" name="password" #password="ngModel">
	<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      Password is required
    </div>
	<div class="form-group">
	  <label for="power">Hero Power</label>
	  <select class="form-control" required [(ngModel)]="model.power" name="power">
	    <option value="">Select...</option>
	    <option *ngFor="let p of powers" [value]="p">{{p}}</option>
	  </select>
	</div>
<button type="submit">Register</button>
</form>
